<div class="container">
  <div class="card shadow p-3 mb-5 bg-write rounded">
    <div class="card-title">
      <h1 class="display-1 text-center">affinity</h1>
    </div>
    <div class="card-body">
        <h5>Obrigado!</h5>
        <p><small>
        O tempo acabou, mas não se preocupe por não ter tido tempo de completar todas as questões. É assim mesmo.</small></p>
        <p><small>
        Sua contribuição foi muito importante e vai nos ajudar a ajudar um monte de gente. Muito obrigado. ^^</small></p>
      </div>
  </div>
</div>