<div class="row questao">
  <div class="col">
    <table>
      <tr><td class="border border-primary domino quatro"></td></tr>
      <tr><td class="border border-primary domino seis"></td></tr>
    </table>
  </div>
  <div class="col">
    <table>
      <tr><td class="border border-primary domino quatro"></td></tr>
      <tr><td class="border border-primary domino seis"></td></tr>
    </table>
  </div>
  <div class="col">
    <table>
      <tr><td class="border border-primary domino quatro"></td></tr>
      <tr><td class="border border-primary domino seis"></td></tr>
    </table>
  </div>
  <div class="col">
    <table>
      <tr><td class="border border-primary domino seis"></td></tr>
      <tr><td class="border border-primary domino quatro"></td></tr>
    </table>
  </div>
  <div class="col">
    <table>
      <tr><td class="border border-primary domino seis"></td></tr>
      <tr><td class="border border-primary domino quatro"></td></tr>
    </table>
  </div>
  <div class="col">
    <table>
      <tr>
        <td class="border border-danger domino">
          <input name="r1" type="number" min="1" max="6" [(ngModel)]="myModel" (blur)="onBlurMethod()" />
        </td>
      </tr>
      <tr>
        <td class="border border-danger domino">
          <input name="r2" type="number" min="1" max="6" [(ngModel)]="myModel" (blur)="onBlurMethod()" />
        </td>
      </tr>
    </table>
  </div>
</div>