<div class="card shadow p-3 mb-5 bg-write rounded">
  <div class="card-title">
    <h1 class="display-1 text-center">affinity</h1>
  </div>
  <div class="card-body">
      <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link" href="#">1</a></li>
      <li class="nav-item"><a class="nav-link" href="#">2</a></li>
      <li class="nav-item"><a class="nav-link" href="#">3</a></li>
      <li class="nav-item"><a class="nav-link" href="#">4</a></li>
      <li class="nav-item"><a class="nav-link" href="#">5</a></li>
      <li class="nav-item"><a class="nav-link" href="#">6</a></li>
      <li class="nav-item"><a class="nav-link" href="#">7</a></li>
      <li class="nav-item"><a class="nav-link" href="#">8</a></li>
      <li class="nav-item"><a class="nav-link" href="#">9</a></li>
      <li class="nav-item"><a class="nav-link" href="#">10</a></li>
      <li class="nav-item"><a class="nav-link" href="#">11</a></li>
      <li class="nav-item"><a class="nav-link" href="#">12</a></li>
      <li class="nav-item"><a class="nav-link" href="#">13</a></li>
      <li class="nav-item"><a class="nav-link" href="#">14</a></li>
      <li class="nav-item"><a class="nav-link" href="#">15</a></li>
      <li class="nav-item"><a class="nav-link" href="#">16</a></li>
      <li class="nav-item"><a class="nav-link" href="#">17</a></li>
      <li class="nav-item"><a class="nav-link" href="#">18</a></li>
      <li class="nav-item"><a class="nav-link" href="#">19</a></li>
      <li class="nav-item"><a class="nav-link" href="#">20</a></li>
      <li class="nav-item"><a class="nav-link" href="#">21</a></li>
      <li class="nav-item"><a class="nav-link" href="#">22</a></li>
      <li class="nav-item"><a class="nav-link" href="#">23</a></li>
      <li class="nav-item"><a class="nav-link" href="#">24</a></li>
      <li class="nav-item"><a class="nav-link" href="#">25</a></li>
      <li class="nav-item"><a class="nav-link" href="#">26</a></li>
      <li class="nav-item"><a class="nav-link" href="#">27</a></li>
      <li class="nav-item"><a class="nav-link" href="#">28</a></li>
      <li class="nav-item"><a class="nav-link" href="#">29</a></li>
      <li class="nav-item"><a class="nav-link" >30</a></li>
    </ul> 
    
    <hr />
    <p class="text-right"><a routerLink="/ending" class="btn btn-primary">Próximo</a></p>
</div>
