<div class="card shadow p-3 mb-5 bg-write rounded">
  <div class="card-title">
    <h1 class="display-1 text-center">affinity</h1>
  </div>
  <div class="card-body">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width.%]="progresso" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">{{ restante }} minutos restantes.</div>
    </div>

    <br />
    <nav aria-label="Navegação de página exemplo">
      <ul class="pagination">
        <li *ngFor="let wallet of coinwallet" class="page-item" [class.active]="selectedwallet === wallet">
          <a class="page-link" (click)="selectedwallet = wallet" ><small>{{ wallet }}</small></a>
        </li>
      </ul>
    </nav>

    <div class="tab-content">
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[0]" role="tabpanel">
        <app-quest01></app-quest01>
      </div>
      <div id="menu1" class="tab-pane active" *ngIf="selectedwallet === coinwallet[1]" role="tabpanel">
        <h3>Menu 1</h3>
        <app-quest01></app-quest01>
      </div>
      <div id="menu2" class="tab-pane active" *ngIf="selectedwallet === coinwallet[2]" role="tabpanel">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="menu3" class="tab-pane active" *ngIf="selectedwallet === coinwallet[3]" role="tabpanel">
        <h3>Menu 3</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
    </div>
    <hr />
    <p class="text-right"><a routerLink="/ending" class="btn btn-primary">Próximo</a></p>
</div>
