<div class="container">
  <div class="card shadow p-3 mb-5 bg-write rounded">
    <div class="card-title">
      <h1 class="display-1 text-center">affinity</h1>
    </div>
    <div class="card-body">
      <div class="autorizacao overflow-auto">
        <h5>Termo de ...</h5>
        <p><small>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat elementum nisi, vitae gravida velit consectetur ac. Sed rutrum lorem et magna mattis, sit amet mattis augue tempus. Donec blandit aliquam lorem, in finibus nisi consectetur quis. Aliquam porta fermentum luctus. Curabitur et sodales augue. In nec laoreet orci. Curabitur finibus risus in mi eleifend semper. Sed lacinia lorem ac molestie sodales. Integer odio lacus, pulvinar quis erat vel, facilisis placerat leo. Morbi maximus sed mi ac rhoncus. Phasellus consequat leo nisl, at facilisis mauris condimentum in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc a massa convallis, tempor libero ac, accumsan leo. Praesent viverra lobortis tortor, non fermentum sem consectetur nec.</small></p>
        <p><small>
        Proin nec diam eget dolor laoreet finibus in eu purus. Nullam volutpat diam felis. Integer eget metus ullamcorper lacus lacinia laoreet ac eget mauris. Suspendisse rutrum est quis nisi vehicula, et mollis nulla vehicula. Donec tristique eu quam non imperdiet. Cras efficitur mi orci, ultrices viverra sapien tempor ut. Quisque posuere condimentum metus, quis tempor dui finibus sit amet. Morbi at euismod lorem, pharetra venenatis sem. Donec dapibus tempus magna nec maximus. Mauris mollis tempor lectus, quis accumsan diam fermentum ut.</small></p>
        <p><small>
        Pellentesque pellentesque purus vel cursus sollicitudin. Maecenas feugiat, sapien a ornare tempus, ante ex mattis arcu, non condimentum libero arcu nec ipsum. Ut consectetur, purus nec facilisis vestibulum, ligula quam rutrum ex, quis lacinia diam arcu eget velit. Nunc vulputate vel risus in malesuada. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed sagittis semper purus eget pretium. Proin placerat at ipsum sed elementum.</small></p>
        <p><small>
        Praesent aliquet ipsum at maximus euismod. Mauris id hendrerit metus. Nulla sed auctor nunc. Donec molestie, magna ut interdum ultricies, ex leo aliquet ipsum, in pretium ipsum magna ut nisi. Phasellus blandit ultricies pulvinar. Aliquam erat volutpat. Ut posuere ipsum non ante commodo, in aliquet tellus tempor. Aenean a mi pellentesque, fermentum magna vitae, volutpat ligula. Pellentesque mauris nisl, dictum sit amet lacus et, rhoncus iaculis neque.</small></p>
        <p><small>
        In in risus et dui pretium sodales. Vivamus id turpis ut nunc convallis placerat vel vel libero. Phasellus id sem vitae odio elementum luctus. In viverra elit sed augue sodales cursus. Maecenas faucibus tempor tortor, in imperdiet sem mollis a. Nunc facilisis eu urna vitae blandit. Aenean bibendum tempor urna, eget suscipit erat dapibus vel. Aliquam sed nisi lectus. Maecenas orci est, volutpat et suscipit at, bibendum quis magna. Praesent id tincidunt magna. Etiam dictum velit arcu, non tincidunt ex pharetra nec.</small></p>
      </div>
      <hr />
      <a href="#" class="btn btn-primary">Aceito</a>
    </div>
</div>
</div>