<div class="container">
  <div class="card shadow p-3 mb-5 bg-write rounded">
    <div class="card-title">
      <h1 class="display-1 text-center">affinity</h1>
    </div>
    <div class="card-body">
      <div class="autorizacao overflow-auto">
        <h5>Termo de Participação</h5>
        <p><small>Bem vindo. Esta aplicação tem o objetivo de ajudar as pessoas que estão começando a aprender a programar. Acreditamos que se identificarmos com antecedencia quem mais precisa de ajuda durante o curso poderemos ajudá-los com mais afinco.</small></p>
        <p><small>No entanto, os recuros e o tempo não são suficientes para dar atenção a todos os alunos de uma sala de aula. Precisamos dar mais atenção a quem mais precisa. Esta aplicação tem o objetivo de achar quem mais precisa antes do aluno começar a aprender.</small></p>
        <p><small>Baseado na bibliografia estudada criamos uma hipótese. Uma hipótese é uma ideia que pode dar certo, ou não. Precisamos testar a aplicação com muitas pessoas para ter certeza que ela realmente faz o que se espera. Com isto, pedimos sua ajuda.</small></p>
        <p><small>Queríamos deixar bem claro que você está testando a aplicação. Queremos saber se ela serve ou não e você pode nos ajudar a isto. Nada irá mudar em seu aprendizado se você decidir nos ajudar. Mas, se a hipótese se confirmar, poderemos ajudar muitas pessoas no futuro, e você ajudou bastante neste nobre objetivo.</small></p>
        <p><small>O uso da aplicação da aplicação ainda está sendo ajustado. Só pedimos que seja sincero nas resposta. Não se preocupe com nada. Se você tiver qualquer problema em usar a aplicação a culpa é da aplicação e iremos modificá-la para que o problema não aconteça.</small></p>
        <p><small>Queríamos te agradecer imensamente por nos ajudar. Todos os dados coletados serão usados apenas para esta pesquisa e não haverá qualquer divulgação individual, apenas estatística. Obrigado por nos ajudar a avançar a ciência.</small></p>
      </div>
      <hr />
      <a routerLink="/identify" class="btn btn-primary">Aceito participar</a>
    </div>
</div>
</div>